<h2>All the posts</h2>
<br>

<%@post.each do|post|%>
<li>
    <%=post.tilte%> <br>
    <%=post.body%> <br>
    <%if user_signed_in?%>
    <%=post.user.email%>
    <%end%>
</li>
<%end%>

<br>
<br>
<br>
<%if user_signed_in?%>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<%end%>